@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

@media screen and (min-width: 1050px){

    /* FOTO DE PERFIL PARA LOS POSTS */
    .photoForm{
        height:80px;
        width:80px;
        margin: 7px;
    }
    .photoForm img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #c1c1c1;
    }

    .postUser, .commentPost{
        display: flex;
        flex-direction: row; 
        margin-bottom: 14px;
    }

    .postUserImage, .commentUserImage{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .commentButton img{
        height:80px;
        width:80px;
        margin: 7px;
    }
    /* FOTO DE PERFIL */

    #post-username{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

    #post-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 5px;
        width: 550px;
        border: solid rgb(223, 223, 223) 3px;
        border-radius: 20px;
    }

    #post-description{
        resize: none;
        border-radius: 16px;
        padding: 8px;
        margin: 5px;
    }
    .post-card{
        width: 600px;
        border: solid rgb(223, 223, 223);
        margin: 8px;
        padding: 10px;
        border-radius: 21px;
    }

    .photoPublic{
        width: 500px;
    }

    .card {
        /* display: flex; */
        display: flex;
        flex-direction: row;
        margin: 15px;
        width: 100%;
        font-family: sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }

    /* FOTO DE PERFIL */

    .btns-edit-delete{
        position: relative;
        left: 90%;
    }

    .btn-edit, .btn-delete{
        padding: 3px;
        margin: auto;
        border-radius: 5px;
        background-color: transparent;
        border: none;
    }

    .note{
        font-family: Georgia, 'Times New Roman', Times, serif;
        resize: none;
        width: 95%;
    }

    .editNote{
        margin: 10px;
    }

    .commentContainer {
        border: solid rgb(223, 223, 223);
        margin: 12px;
        padding: 10px;
        border-radius: 21px;
        flex-direction: column;
        align-items:flex-start;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .photoComment {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    #commentDesc{
        resize: none;
        border-radius: 15px;
        background-color: #e7e7e7;
        border: none;
        padding: 4px 0px 0px 10px;
    }

    .commentPost{
        background-color: transparent;
        border: none;
    }

    .boxComment{
        border: solid rgb(223, 223, 223);
        margin: 12px;
        padding: 10px;
        border-radius: 21px;
    }

}