@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


@media screen and (max-width: 600px){

 /* {
    background-color: #FF826D;
} */


#viewLog, #viewRegistration{
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #ffffff;
    border: #cfcfcf;
    padding: 30px;
    box-shadow: 0px 10px 10px -6px black;
    overflow: hidden;
}


.messageLogIn, #messageRegister {
    display: none;
}

form {
    /* margin:10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EB Garamond', serif;
    width: 100%;
}

h1{
    font-size: 40px;
}

h3{
    font-size: 18px;
}

h3, h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

p {
    font-family:'Lora', serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
}

input[type=email],input[type=password],input[type=text] {
    margin: 10px;
    border: none;
    flex-direction: column;
    border-bottom: 3px solid #E5E5E5;
    padding-bottom: 3px;
    width: 100%;
  }

input[type=checkbox] {
    transform: scale(0.9);
    margin-bottom: 0;
}

#politics{
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    /* margin: 20px; */
}

#btnRegister, #btnLogIn {
    /* color: #000000;
    background: #FF826D; */
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.o{
    color: #9B9999;
    width: 100%;
    text-align: center;
}

.icoFb, .icoGoogle {
    width: 35px;
    height: 35px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

 #aRegister, #aLogIn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: 'Alegreya', serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
 }

::placeholder{
    color: #9b9b9b;
    font-size: smaller;
}

.messageValid{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding: 2%;
    margin: 5%;
    align-items: center;
    width: 300px;
    height: 150px;
    color: #000000;
    background-color: #fff;
    border: solid rgb(235, 235, 235);
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 1001;
}

    .messageValid button{
    color: white;
    background-color: #BE3871;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    border: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1049px) {

    .image{
        display: none;
    }


    #container {
        grid-gap: 5 rem;
        position: relative;
        min-height: 100vh;
        /* width: 100%; */
        background-color: #BE3871;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #viewLog, #viewRegistration{
        /* margin: 4%;
        padding: 2%; */
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid;
        background-color: #fff;
        border: #cfcfcf;
        padding: 10%;
        box-shadow: 0px 10px 10px -6px black;
    }

    #messageLogIn, #messageRegister {
        display: block;
        width: 50%;
    }

    #messageLogIn, #messageRegister > h2{
        margin-left: 20px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'EB Garamond', serif;
        width: 50%;
        margin-right: 0;
    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 18px;
    }
    
    h3, h1{
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Lora', serif;
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-bottom: 12px;
    }

    input[type=email],input[type=password],input[type=text] {
        margin: 10px;
        border: none;
        flex-direction: column;
        border-bottom: 3px solid #E5E5E5;
        padding-bottom: 3px;
        width: 80%
      }
    
    input[type=checkbox] {
        transform: scale(0.8);
        margin-bottom: 0;
    }
    
    #politics{
        font-size: 12px;
        margin-top: 12px;
        text-align: center;
        width: 85%;
        /* margin: 20px; */
    }

    #btnRegister, #btnLogIn {
        color: #000000;
        background: #FF826D;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 12px;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .o{
        color: #9B9999;
        width: 100%;
        text-align: center;
    }
    
    .icoFb, .icoGoogle {
        width: 40px;
        height: 40px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        
    }
  
     #aRegister, #aLogIn {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-family:'Alegreya', serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 19px;
     }
    
    /* #imageLog{
        margin: 0px;
        display: none;
        flex-direction: column;
        color: #ffffff;
        background-image: url(https://user-images.githubusercontent.com/77282012/117875257-92405f80-b267-11eb-8362-d4218c57ca17.png);
        background-size: cover;
        height: 100%;
        width: 65%;
    } */

    #imageRegister{
        display: none;
    }

    

 }

 @media screen and (min-width: 1050px){

    #btnSalir{
        background-color: transparent;
        border: none;
    }
    
    /* #container {
        position: relative;
        min-height: 100vh;
        /* width: 100%; */
        /* background-color: goldenrod;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px; */
    /* }  */

    #viewHome{
        display: flex;
        flex-direction: row;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        width: 90%;
        font-style: normal;
        text-align: center;
    }
    
    /* BOX MESSAGE PARA ELIMINAR POSTS Y SALIR DEL HOME*/
    .messageValid{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: fixed;
        padding: 2%;
        margin: 5%;
        z-index: 100;
        box-shadow: 5px 5px 20px rgba(#828385, 10%);
        align-items: center;
        width: 20%;
        left: 50%;
        color: #000000;
        background-color: #fff;
        border: solid rgb(235, 235, 235);
    }

    .messageValid p {
        color: #474747;
        font-size: 18px;
    }

    .messageValid h2 {
        color: #000000;
        font-size: 20px;
    }
    
    /* DEL HOME*/
    .imageWarning {
        width: 40px;
        height: 40px;
        margin: 0 0 5% 40%;
        
    }

    /* DEL HOME*/
    li{
        font-size: 10px;
    }

    /* DEL HOME*/
    p .message{
        font-size: 15px;
        color: #525252;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* DEL HOME*/
    h2 .message {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    /* DEL HOME*/
    .confirm, .cancel{
        background: #ffffff;
        width: 40%;
        outline: 0;
        border: none;
        box-shadow: 2px 2px 10px rgba(#777777, .5);
        font-family: 'Montserrat', sans-serif;
        padding: 4%;
        margin: 2%;
    }

    /* DEL HOME*/
    .confirm{
        background-color: #bb1414;
        color: #E5E5E5;
    }

    /* DEL HOME*/
    .cancel{
        background-color: #dbdbdb;
    }

    /* DEL HOME*/
    .exitMessage {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        top: 4%;
        right: 6%;
    }
    /* FIN DE MESSAGE BOX*/

    
     header {
        padding: 0 10px 0 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        background-color: #6F1747;
        top: 0;
    }

    
    .h1-style {
        color: #ffffff;
        padding: 3px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        /* margin: 0; */
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-direction: row;
    }

    .h1-style img {
        margin-right: 2px;
        width: 60px;
        height: 60px;
    }

    .errorInput{
        color: #bb1414;
        box-shadow: rgb(224, 36, 94);
        border-color: rgb(255, 34, 104);
    }

    span{
        font-size: 14px;
    }

    .messageLogIn, #messageRegister {
        position: relative;
        width: 50%;
        height: 100%;
        transition: 0.5s;
        display: flex;
    } 

    .body-form{
        display: flex;
        flex-direction: row;
    }

    .icoFb, .icoGoogle {
        width: 50px;
        height: 50px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
    }    

    #btnRegister, #btnLogIn {
        /* color: #000000;
        background: #FF826D; */
        border: 1px solid #ffffff;
        padding: 9px;
        border-radius: 12px;
        margin: 18px;
        cursor: pointer;
    }

    #aRegister {
        font-family:'Alegreya', serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }

  


    #politics{
        font-size: 12px;
        margin: 20px;
    }
    
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }


    input[type=email],input[type=password],input[type=text] {
        margin: 5px;
        padding: 6px;
        border: none;
        border-bottom: 3px solid #E5E5E5;
        padding-bottom: 10px;
        width: 90%
      }
      
    .o{
        color: #9B9999;
    
    }


   #taks-form {
       border-color: #bb1414 5px solid;
       /* /* //display: flex;
       
       width: 60px;
       /* float: right; */
       margin-left: 100px; 
   } 

   #taksContainer{
       /* float: right; */
       margin-left: 100px;
   }

   #body-form-postsection {
       display: flex;
       flex-direction: column;
   }

   #imgpreview > img {
       height: 200px;
   }


}